.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 85px;
    width: 96%;
    margin-left: 2%;
    
    
  }
  .BooksText{
    font-size: 2rem;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .mainContainer {
      top: 58px;
      width: 87%;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 899px) {
    .mainContainer {
      top: 70px;
    }
  }
  
  .change-display {
    display: inline-block;
    /* margin-left: 8%;
    margin-right: 8%; */
  }
  
  .Books {
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .book-count {
    font-size: 0.7rem;
  }
  
  .change-display-left {
    margin-left: 6%;
  }
  
  .change-display-right {
    margin-right: 6%;
  }
  