.Header-container {
  position: sticky;
  top: 0;
  z-index: 50;
}

.content-container {
  flex-grow: 1;
  min-height: calc(100vh - 100px);
}

.footer-container {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #2E1D1E;
  position: absolute;
}

.footer-text {
  color: white;
  font-size: 12px;
  position: relative;
  left: 160px;
}

/* .footer-icon {
  font-size: 10px;
} */
