.Header-container {
  position: sticky;
  top: 0;
  z-index: 50;
}

.content-container {
  flex-grow: 1;
  min-height: calc(100vh - 100px);
}

.footer-container {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #2E1D1E;
  position: absolute;
}

.footer-text {
  color: white;
  font-size: 12px;
  position: relative;
  left: 160px;
}

@media (max-width: 575.98px) {
  .footer-container {
    justify-content: center;
  }

  .footer-text {
    left: 0;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-container {
    justify-content: center;
  }

  .footer-text {
    left: 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-container {
    justify-content: center;
  }

  .footer-text {
    left: 0;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .footer-container {
    justify-content: flex-start;
  }

  .footer-text {
    left: 160px;
  }
}
