.wishlistcard-container {
    display: flex;
    width: 100%;
    gap: 40px;
    height: 170px;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    border-bottom: 2px solid #E4E4E4;
    align-items: center;
    border: 2px solid #E4E4E4;
}

.wishlistcard-image {
    width: 80px;
    height: 100px;
    margin-left: 50px;
}

.wishlistcard-details {
    display: flex;
    flex-direction: column;
}

.wishlistcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlistcard-title {
    font-weight: 500;
    width: 500px;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.wishlistcard-remove-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.wishlistcard-remove-button:hover {
    color: blue;
}

.wishlistcard-author {
    color: #878787;
    font-size: 0.875rem;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 1px;
}

.wishlistcard-prices {
    display: flex;
    align-items: center;
    gap: 4px;
}

.wishlistcard-discount-price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 1px;
}

.wishlistcard-original-price {
    text-decoration: line-through;
    font-size: 12px;
    color: #878787;
    margin-top: 10px;
    margin-bottom: 1px;
}

@media (max-width: 1200px) {
    .wishlistcard-container {
        gap: 30px;
    }

    .wishlistcard-title {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .wishlistcard-container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .wishlistcard-image {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .wishlistcard-header {
        flex-direction: column;
        gap: 10px;
    }

    .wishlistcard-title {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wishlistcard-container {
        gap: 10px;
    }

    .wishlistcard-details {
        font-size: 14px;
    }

    .wishlistcard-title {
        font-size: 16px;
        width: 100%;
    }

    .wishlistcard-author {
        font-size: 12px;
    }

    .wishlistcard-discount-price {
        font-size: 14px;
    }

    .wishlistcard-original-price {
        font-size: 10px;
    }
}
