.book-card-link-card {
    text-decoration: none;
}

.book-card-card {
    display: flex;
    flex-direction: column;
    height: 255px;
    width: 210px;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.book-image-container-card {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.book-image-card {
    width: 50%;
    height: 85%;
}

.book-info-card {
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.book-name-card {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    filter: brightness(75%) contrast(75%);
}

.book-author-card {
    font-size: 10px;
    color: gray;
}

.book-rating-card {
    display: flex;
    align-items: center;
    justify-content: left;
}

.rating-box-card {
    height: 16px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #388E3C;
}

.rating-value-card {
    font-size: 10px;
    color: #FFFFFF;
}

.rating-icon-card {
    height: 10px;
    width: 12.5px;
    color: #FFFFFF;
    
}

.book-quantity-card {
    font-size: 11px;
    color: gray;
}

.book-pricing-card {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
}

.discount-price-card {
    font-size: 13px;
    font-weight:700;
    color: black;
    filter: brightness(75%) contrast(75%);
}

.original-price-card {
    font-size: 11px;
    color: gray;
    text-decoration: line-through;
}
